/* General For All

font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Homemade Apple', cursive;

Color Palette:
grey #606060
white #D6E5E8
blue #BBE0E8
orange #FFBD4A
platinum #E8E9EB

IDs need a #.....classes need a .
*/

/*---------------------- Mobile --------------------
---------*/
    body {
        font-family: 'Ubuntu Condensed', sans-serif;
        position:absolute;
        height: 100%;
        width: 100%;
        margin:0;
        padding:0;
    }
    .container {
        text-align: center; 
        display: grid;
        grid-template-columns: minmax(300px);
        grid-template-rows: .3fr 2fr .3fr;
        grid-template-areas:    "header"
                                "article"
                                "footer";
        width: 100%;
        height: 100%; 
    }
    
    .header {
        grid-area: header;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        background:#E8E9EB;
    }
    
    .header h1 {
        text-align: center;
        font-family: 'Homemade Apple', cursive;
    }
    .header h1 a {
        list-style: none;
        text-decoration: none;
        color: black;
    }
    .menu {
        padding: 0;
        text-decoration: none;
    }
    .menu a {
        text-decoration: none;
        color: black;
    }
    .menu ul{
        display: grid;
        grid-template-columns: 100%;
        list-style: none;
        text-align: center;
        padding: 0;
        margin-top: 3%;
    }
    
    .menu ul li {
        padding: 0;
    }
    
    .article {
        grid-area: article;
        min-height: 100vh;
    }
    
    .article a {
        grid-area: article;
    }
    
    .article iframe {
        grid-area: article;
        min-height: 100vh;
        min-width: 100%;
    }
    
    .footer {
        float: bottom;
        grid-area: footer;
        background:#ced0d4;
    }
    
    .link-menu {
        padding: 0;
    }
    .link-menu ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        text-align: center;
        padding: 0;
        margin-bottom: 3%;
    }
    
    .link-menu ul li {
        padding: 0;
    }


@media screen (max-width: 801px) {
    body {
        font-family: 'Ubuntu Condensed', sans-serif;
        position:absolute;
        height: 100%;
        width: 100%;
        margin:0;
        padding:0;
    }
    .container { 
        display: grid;
        grid-template-columns: minmax(300px, 1fr) minmax(300px, 2fr);
        grid-template-rows: .3fr 2fr .3fr;
        grid-template-areas:    "header header"
                                "sidebar-left article"
                                "footer footer";
        height: 100%; 
        grid-gap: 1em;
    }
    
    .header {
        grid-area: header;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        background:#E8E9EB;
    }
    
    .header h1 {
        padding-left: .5em;
        font-family: 'Homemade Apple', cursive;
        margin: 5px;
    }
    .header h1 a {
        list-style: none;
        text-decoration: none;
        color: black;
    }
    .menu {
        padding: 0;
        text-decoration: none;
    }
    .menu a {
        text-decoration: none;
        color: black;
    }
    .menu ul{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        list-style: none;
        text-align: center;
        padding: 0;
        margin-top: 3%;
    }
    
    .menu ul li {
        padding: 0;
    }
    
    .sidebar-left {
        grid-area: left; 
    }
    
    .article {
        grid-area: article;
        min-height: 100vh;
    }
    
    .article a {
        grid-area: article;
    }
    
    .article iframe {
        grid-area: article;
        min-height: 100vh;
        min-width: 100%;
    }
    
    .footer {
        grid-area: footer;
        background:#ced0d4;
    }
    
    .link-menu {
        padding: 0;
    }
    .link-menu ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;
        text-align: center;
        padding: 0;
        margin-bottom: 3%;
    }
    
    .link-menu ul li {
        padding: 0;
    }   
}