/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

html {
    height: 100%;
  }
  body {
     width: 100%;
     min-height: 100%;
     text-align: center;
     list-style: none;
  }

  header {
      background-color: #6BBAB5;
      padding: 5px;
      font-size: 26px; 
      display: block;
      text-align: center;
      box-sizing: border-box
  }
  header h1 img {
      width: 200px;
      text-align: left;
  }
  header a {
      text-decoration: none;
      color: #112F3B
  }
  nav {
      float: center;
      width: 100%;
      text-align: center;
  }
  nav ul {
      padding: ;
      float: center;
      border-bottom: ;
      list-style-type: none;
      text-align:center;
      width: 100%;
  }
  nav li {
      display: inline;
      list-style: none;
  }
  nav li a {
      display: inline-block;
      height: 25px;
      padding: 12px 18px 8px 18px;
      vertical-align: middle;
      text-decoration: none;
      list-style: none;
  }
  a {
      color: ;
      text-decoration: none;
  }
  section {
      width: 100%;
      display: inline-block;
      float: center;
  }
  section article li {
      list-style: none;
  }
  aside {
      width: 17%;
      display: inline-block;
      background-color:;
      padding:;
      min-height: 100%;
  }
  aside ul {
      list-style-type: none;
  }
  footer {
      width: 100%;
      background-color:;
      color:;
      clear: both;
      display: block;
  }
  footer ul {
      list-style: none;
  }